<div class="container text-center">
    <h4 class="text-center">Quick notice:</h4>
    <h5>
        All game data is stored locally in your browser. Nothing is sent or stored online except the
        leaderboard.<br>
        Private browsing mode doesn't save data so make sure you play this in a normal browser window.
        And don't delete your cookies.
    </h5>


    <h3 class="bg-dark text-white" data-toggle="collapse" href="#how-to-play-container" role="button" aria-expanded="true" aria-controls="how-to-play-container">How to play:</h3>

    <div id="how-to-play-container" class="collapse show">
        <hr>
        <h3 class="text-center">Quick Guide</h3>
        1. Join a major<br>
        2. Join mandatory classes and extra side classes <br>
        3. Get involved with clubs and partners to make things harder/easier <br>
        4. Roll the Orgasm Roulette if you want to cum<br>
        5. Attend and pass classes to get 160 credits <br>
        6. Don't attend classes and you'll get punished<br>
        7. Graduate<br>
        - All sex toy sizes are minimums and are measured at their widest part and total length (insertable length is usually smaller). You can use bigger ones if you want. Check the shopping list for more info<br>
        - You can click on title bars such as the one above which says "How to play" to collapse/expand them<br>
        - There is a compact course list at the bottom of this page.<br>
        <p class="text text-left">
        </p>
        <h3 class="text-center">Majors</h3>
        <p class="text text-left">
            Choose a <a href="majors.html">Major</a> depending on what you'd like to specialise in. Each one has
            specific mandatory classes
            (prerequisites) and each of those classes has prerequisite classes of their own. Once you join a major
            go to the <a href="progress.html">Progress page</a> to see your mandatory classes.
            You need to get <span class="creditsToGrad">160</span> credits before attempting to graduate.
            If you decide to change your major you can go to its page and drop it however this will result in a
            penalty of 10 punishments.
        </p>
        <h3 class="text-center">Classes and schedule</h3>
        <p class="text text-left">
            Every class has a weekly schedule that you need to keep track of. You’ll need to complete one of the two
            daily tasks or exams to count as attendance. If you fail to attend a class by the end of the day a
            punishment will be
            automatically rolled for that class. To unlock its exam you need to have attended it at least once and
            to
            not have any pending punishments. Once you pass a class you can immediately enroll in another one if you
            wish.
            You can NOT join a class again once you've passed it. You can not enroll in more than <span id="maxClasses">8</span> classes at once.
            Do not enroll in too many classes if you can’t keep up with the schedule.
            <b>Classes can also be done during the weekend. Weekend classes are optional and you won't be punished
                for skipping them.</b>
        </p>
        <h3 class="text-center">Punishments</h3>
        <p class="text text-left">
            - If you fail to attend a class by the end of the day a punishment will be automatically rolled for you.<br>
            - If you have an active task and you fail to do it, you must press "Fail" in order to get punished.<br>
            - If you pause a Task for more than 4 hours you will get punished <br>
            - Punishments can be completed whenever you like.<br>
            - You can get a maximum of <span id="maxPunishments">10</span> punishments.<br>
            - You can’t pass classes or graduate if you have any pending punishments, so make sure you don’t stack
            too many of them.<br>
            - You get 1 punishment for failing a daily task, 2 for failing an exam and 5 for failing your final
            thesis.
        </p>
        <h3 class="text-center">Clubs</h3>
        <p class="text text-left">
            -Clubs provide you with different bonuses such as free class skips and reduced task requirements for
            classes.<br>
            -Clubs are supplementary to your classes so you can combine them however you want. <br>
            -Some club tasks overlap with tasks from classes (Example Religious Studies Club and Chastity classes).
            In this case you can
            you can use club perk for free. <br>
            -Make sure that when doing a class task
            and you have some club perks activated, you can stay true to the club's requirements. If you have
            activated a perk that requires you to wear a gag and you have a class that lasts 8 hours, it's
            highly unlikely that you'd wear the gag for those 8 hours, so turn off the perk before starting the class
            task.<br>
            -You can join a maximum of 5 clubs and have a maximum of 10 club perks active.
            -Later in the game you'll unlock Elite Clubs that provide greater benefits but have harder requirements.<br>
            -Keep in mind that you're limited to only 1 elite club.<br>
            -Normal club perks can be toggled on and off while Elite club perks can be activated only once a
            day.<br>
            -All active perks are reset on the next day.<br>
            -Keep in mind that the maximum reduction you can get from clubs is capped at 50%. If you have 50%
            reduction
            from your normal clubs and another 25% from an elite one you'll still get only 50% instead of 75%.
        </p>
        <h3 class="text-center">Partners system</h3>
        <p class="text text-left">
            Partners are very similar to clubs with the only difference being that they make things harder
            instead of easier but in return you'll get extra points. You can have up to 3 partners.
            Their perks can be activated once per day and deactivate automatically on the next.
        </p>
        <h3 class="text-center">Tasks and timers system</h3>
        <p class="text text-left">
            The game has a tasks system for majors and classes. On your schedule page you'll be able to select which
            task to do
            for your active classes. Once you select an option you'll be sent to the tasks's page where you can
            either
            start its timer
            or press "Complete" if the task is not time dependent. Timers can be paused/resumed and they carry over
            between days. You won't get punished if the task is running from yesterday.
            If you fail to do a task, you must press "Fail" in order to get punished.
            The active timers for all your classes are also visible on the schedule page for each class.
        </p>
        <h3 class="text-center">Credits system</h3>
        <p class="text text-left">
            Graduating requires that you have at least <span class="creditsToGrad">160</span> credits (unless stated
            otherwise). It has been calculated that you need to complete 4 Beginner, 5 Intermediate, 6 Advanced and
            2
            Master classes to get them. Different activities reward you with different amount of credits.<br>
            Here's the rewards list:<br>
            - Beginner classes: Attend: 1p; Exam: 3p; Drop: -2p;<br>
            - Intermediate classes: Attend: 2p; Exam: 6p; Drop: -4p;<br>
            - Advanced classes: Attend: 3p; Exam: 9p; Drop: -6p;<br>
            - Master classes: Attend: 4p; Exam: 12p; Drop: -8p;<br>
            - Light punishments: Reroll: -1p; Fail: -2p <br>
            - Heavy punishments: Reroll: -2p; Fail: -4p <br>
        </p>
        <h3 class="text-center">Graduating</h3>
        <p class="text text-left">
            Once you have completed all your mandatory classes and collected <span class="creditsToGrad">160</span>
            credits
            through attending extra classes
            or grinding the ones you like, you may attempt to graduate. Some Majors could take up to a month for the
            final task. If you fail to do one
            of the thesis requirements you must press "Fail" which will roll 10 punishments. Some majors have an
            additional punishment option which increases the timer's duration.
            After you graduate your major will be marked as Completed and all other progress will be reset. You can
            sign
            up for another one in another field which will become very useful in the future when you
            start building your career.
        </p>
        <h3 class="text-center">Orgasm Roulette System</h3>
        <p class="text text-left">
            The only way you are allowed to cum is either through classes or from the Orgasm Roullete which is available 
            on top of the Progress Page. Every day you'll get the chance to spin is once and test your luck out.
            You have a: <br>
            - 30% chance of no orgasm <br>
            - 20% chance of teasing and no orgasm <br>
            - 10% chance of a ruined orgasm<br>
            - 10% chance of an anal orgasm <br>
            - 10% chance of a normal orgasm <br>
            - 10% chance of getting a random punishment <br>
            - 10% chance of having to ask strangers online if you can cum <br>
        </p>
    </div>
    <hr>
    <h3 class="bg-dark text-white" data-toggle="collapse" href="#info-shopping-list" role="button" aria-expanded="true" aria-controls="info-shopping-list">Shopping list:</h3>
    <div id="info-shopping-list" class="collapse show">
        <h6>Shopping list with required and optional items. Linked ones are recommendations, feel free to use your
            own. Protip: When buying from Aliexpress, use "Aliexpress Standard Shipping" which costs 1-2$ but provides tracking and 14-21 days delivery.</h6>
        <p class="text-left">
            - Dildo 2.5/14cm (~1.0/5.5inch) (diameter/length) - this will be size S 
            <a href="https://www.aliexpress.com/item/2016-suction-cup-dildo-realistic-sex-toys-for-woman-penis-small-dildo-flesh-dildo-sex-products/32659778432.html" target="_blank">LINK</a> <br>
            - Dildo 3/15cm (~1.2/6inch) (diameter/length) - this will be size M 
            <a href="https://www.aliexpress.com/item/Silicone-Realistic-Soft-Jelly-Dildo-G-Spot-Clitoris-Stimulation-Vibrator-Sex-Toys-for-Women-Sex-Product/32957880747.html" target="_blank">LINK</a> <br>
            - Dildo 4/21cm (~1.55/8inch) (diameter/length) - this will be size L 
            <a href="https://www.aliexpress.com/item/Insertable-7-28-185mm-big-long-thick-dildo-fake-Penis-dong-realistic-artificial-cock-sex-products/32522231222.html" target="_blank">LINK</a> <br>
            - Dildo 4.5/23cm (~1.77/9inch) (diameter/length) - this will be size XL 
            <a href="https://www.aliexpress.com/item/8-9-inch-23cm-long-d-4-5-cm-big-dildo-with-suction-cup-sex-penis/32726634784.html" target="_blank">LINK</a> <br>
            - Dildo 5/28cm (~2.00/11inch) (diameter/length) - this will be size XXL 
            <a href="https://www.aliexpress.com/item/8-9-inch-23cm-long-d-4-5-cm-big-dildo-with-suction-cup-sex-penis/32726634784.html" target="_blank">LINK</a> <br>
            - Set with sizes S to L: 
            <a href="https://www.aliexpress.com/item/strapless-dildo-vibrator-adult-sex-toys-for-women-big-dildos-machine-consolador-sex-products-huge-anal/32686810457.html" target="_blank">LINK</a><br>
            - Dildo 3/34cm (~1.2/13inch) (diameter/length) - this will be size "super long" (only for the tentacle club)
            <a href="https://www.aliexpress.com/item/2016-Hot-Adult-Sex-Products-130-340mm-Flexible-Soft-Lesbian-Double-Dildo/32757096278.html" target="_blank">LINK</a><br>
            <br>
            - Buttplug 25mm (~1inch) (diameter) - this will be size S 
            <a href="https://www.aliexpress.com/item/1pcs-Set-Stainless-Steel-Metal-Anal-safe-plug-medical-Anal-Beads-Anus-tube-Crystal-Waterproof-Adult/32901354074.html" target="_blank">LINK</a> <br>
            - Buttplug 35mm (~1.2inch) (diameter) - this will be size M 
            <a href="https://www.aliexpress.com/item/1pcs-Set-Stainless-Steel-Metal-Anal-safe-plug-medical-Anal-Beads-Anus-tube-Crystal-Waterproof-Adult/32901354074.html" target="_blank">LINK</a> <br>
            - Buttplug 40mm (~1.55inch) (diameter) - this will be size L 
            <a href="https://www.aliexpress.com/item/1pcs-Set-Stainless-Steel-Metal-Anal-safe-plug-medical-Anal-Beads-Anus-tube-Crystal-Waterproof-Adult/32901354074.html" target="_blank">LINK</a> <br>
            - Buttplug 50mm (~2inch) (diameter) - this will be size XL 
            <a href="https://www.aliexpress.com/item/50mm-large-big-pyrex-glass-Anal-butt-plug-beads-ball-dildo-Sex-toys-Adult-products-for/32222809698.html" target="_blank">LINK</a> <br>
            - Alternative set with sizes S to L: 
            <a href="https://www.aliexpress.com/item/Adult-Diary-Silicone-Anal-Plug-Jewelry-Dildo-Vibrator-Sex-Toys-for-Woman-Prostate-Massager-Bullet-Vibrador/32845831474.html" target="_blank">LINK</a> <br>
            <br>
            - Chastity cage (for chastity classes)
            <a href="https://www.aliexpress.com/item/Prison-Bird-Amazing-Price-Small-Cage-The-100-Biosourced-resin-chastity-device-Cock-Cage-With-4/32767552450.html" target="_blank">LINK</a><br>
            - Prostate massager (optional for milking classes)
            <a href="https://www.aliexpress.com/item/Quality-Male-Prostate-Massager-G-spot-Anal-Butt-Plug-Anal-Masturbator-Prostate-Stimulator-Adult-Erotic-Toys/32787804324.html" target="_blank">LINK</a><br>
            - Ballgag (for bondage classes and clubs)
            <a href="https://www.aliexpress.com/item/Adult-Games-Mouth-Gag-Silicone-Ball-Oral-Fixation-PU-Leather-Band-BDSM-Bondage-Restraints-4-Colors/32755021776.html" target="_blank">LINK</a>
            - Ring gag (optional, for when you need to be gagged but also use your mouth)
            <a href="https://www.aliexpress.com/item/Mouth-Gag-Oral-Leather-Open-bondage-Bite-Pleasure-Couples-Flirt-Fetish-Erotic-Slave-Sex-Products-Toys/32801221928.html" target="_blank">LINK</a><br>
            - Stockings or Pantyhose, Panties, Bra, Skirt or Dress, High Heels (for Feminization classes). <br>
            - Wig, Makeup accessories (optional)
            - Blidfold, Gag, Rope, Cuffs and shackles (for bondage classes and clubs) 
            <a href="https://www.aliexpress.com/item/2018-new-7pcs-set-Sexy-Lingerie-PU-Leather-Sex-Bondage-Set-Toy-Bondage-Restraint-Handcuffs-Sex/32843455313.html" target="_blank">LINK</a><br>
            - Maid Uniform (for the Maid club)
            <a href="https://www.aliexpress.com/item/Sexy-French-Maid-Costume-Sweet-Gothic-Lolita-Dress-Anime-Cosplay-Sissy-Maid-Uniform-Plus-Size-Halloween/32801590897.html" target="_blank">Uniform1 </a>
            <a href="https://www.aliexpress.com/item/New-Sexy-Lolita-French-Maid-Cosplay-Costume-Dress-Halloween/32777378271.html" target="_blank">Uniform2 </a>
            <a href="https://www.aliexpress.com/item/Satin-Long-Gloves-Opera-Evening-Party-Prom-Costume-Fashion-Gloves/32662088095.html?spm=2114.13010708.0.0.32df4c4dwcs4XH" target="_blank">Gloves </a>
            <a href="https://www.aliexpress.com/item/1-Pair-Women-White-Stockings-Overknee-Winter-White-Stocking-Thigh-High-Knee-Hosiery-Cotton-Lace-Wave/32824743016.html" target="_blank">Stockings </a>
            <a href="https://www.aliexpress.com/item/Popular-in-Japan-Girl-Women-Sexy-velvet-Tights-fake-High-Stocking-Pantyhose-Mock-Bow-Suspender-High/32800607509.html" target="_blank">Pantyhose </a> <br>
            - Tail Buttplug (for Pet Play casses)
            <a href="https://www.aliexpress.com/item/Sexy-Toys-Metal-Fake-Fur-Fox-Dog-Tail-Anal-Plug-Butt-Plug-BDSM-Flirt-Anus-Plug/32807557126.html" target="_blank">LINK</a> <br>
            - Animal ears (for Pet Play classes)
            <a href="https://www.aliexpress.com/item/1pair-2pcs-Cat-Ears-Hair-Clips-Cute-Animal-Hair-Hoop-Ornament-Trinket-bandeau-Make-Up-Tool/32832307703.html" target="_blank">LINK</a>
            <a href="https://www.aliexpress.com/item/Hot-Sale-Women-Girls-Fashion-Fox-Plush-cat-ears-Headbands-hair-Accessories/32817598830.html" target="_blank">LINK2</a> <br>
            - Collar (for Pet Play casses)
            <a href="https://www.aliexpress.com/item/New-4-color-PU-Leather-Plush-Neck-Sex-Collar-Fetish-Bondage-Adult-Games-Slave-Restraint-Flirting/32727168433.html" target="_blank">LINK</a> <br>
            - Latex Catsuit (for Fetish classes) 
            <a href="http://www.latexcatfish.com/xcart/El-Gimperator.html" target="_blank">LINK</a> <br>
            - Magic Wand (not required anywhere, just for fun) 
            <a href="https://www.aliexpress.com/item/IKOKY-Big-Size-30-Speed-Vibrator-Powerful-Magic-Wand-Massager-Sex-Toys-for-Women-Clitoris-Stimulator/32839632762.html" target="_blank">LINK</a><br>
            - Estim/Electro (for the Science Club): <br>
            Estim box 
            <a href="https://www.aliexpress.com/item/IKOKY-Therapy-Massager-Accessory-Electro-Stimulation-Electric-Dual-Output-Host-Pulse-Massage-Host-Electric-Shock/32889013470.html" target="_blank">LINK</a><br>
            Estim nipple clamps 
            <a href="https://www.aliexpress.com/item/Electric-Shock-Bullet-Anal-Plug-Pulse-Vibrator-Electro-Stimulation-Nipple-Clamps-Clitoris-Penis-Last-Erect-Massager/32957469349.html" target="_blank">LINK</a><br>
            Estim butt plugs 
            <a href="https://www.aliexpress.com/item/Electric-Shock-Bullet-Anal-Plug-Pulse-Vibrator-Electro-Stimulation-Nipple-Clamps-Clitoris-Penis-Last-Erect-Massager/32957469349.html" target="_blank">LINK</a><br>
            Estim penis rings 
            <a href="https://www.aliexpress.com/item/E-Stim-Monopolar-Conductive-Loops-Cock-Rings-and-Ball-Electro-Penis-Ring-Rubber-Tube-TENS-Electrodes/32708220829.html" target="_blank">LINK</a><br>
        </p><h5>Supplements:</h5>
        <h6>Optional supplement stack to increase precum leaking and hornyness. Won't affect hormones or have ill
            side effects. Order from <a href="https://iherb.com" target="_blank">iHerb</a></h6>
        <p class="text-left">
            - Lecithin - 1000-2000mg a day, increases cum loads. Make sure to get one from sunflowers. 
            Soy lecithin has estrogenic effects.<br>
            - Zinc Picolinate - 50mg every other day. Increases erection strength, orgasm strength, hornyness and
            cum volume.<br>
            - Pygeum - 200mg a day (100mg twice a day), increases cum loads and improves prostate health.<br>
            - L-Arginine - 5000mg (5gr) a day, improves erection strength. Often has ill side effects, I'd avoid it.
            <br>
            - Water - drink lots of it. Minimum of 2 liters (0.52 gallons) per day.<br>
        </p>
    </div>
    <hr>
    <h3 class="bg-dark text-white" data-toggle="collapse" href="#info-other" role="button" aria-expanded="true" aria-controls="info-other">Other</h3>
    <div id="info-other" class="collapse show">
        <h5 class="text-center">Additional Info:</h5>
        <p class="text text-left">
            - Online places to share/request tasks: <br>
            <a href="https://discord.gg/bYpvdfG" target="_blank">The Sissy University Discord Chat</a><br>
            <a href="https://boards.4chan.org/b/catalog" target="_blank">4chan</a><br>
            <a href="https://www.reddit.com/r/Chastity/" target="_blank">Reddit - Chastity</a><br>
            <a href="https://www.reddit.com/r/Sissies/" target="_blank">Reddit - Sissies</a><br>
            <a href="https://www.reddit.com/r/BDSMGW/" target="_blank">Reddit - BDSM gone wild</a><br>
            <a href="https://onesubmissiveact.com" target="_blank">One Submissive Act</a><br>
            - Buttplugs and chastity devices may be removed at any time for sanitation or health reasons. Do not
            abuse
            this.<br>
            - All toy sizes are minimums. Feel free to use larger ones if you want. Buttplug diameter is measured at
            the
            widest part.<br>
            - Anal tasks can be considered as done if you cum from anal, unless stated otherwise.<br>
            - You can do multiple tasks from different classes and clubs at once (if possible).<br>
            - Enema sizes are set in accordance to medical health guidelines.<br>
            - For a fake cum you can use whatever recipe you like.<br>
            - Cute underwear means bra and panties <br>
            - Cute clothes are generally female stockings, leggings, skirts, dresses, female tops, corsets, bustiers
            and high-heeled shoes.<br>
            - Fetish gear are any clothes (including gloves/masks/hoods) made out of
            latex/leather/pvc/vinyl/plastic.
            Corsets (any material) and high heels over 6inch (15cm) also count. Small accessories don't count.<br>
            - A "full catsuit" means a catsuit + gloves, socks and a hood. Just a "catsuit" may be without them.<br>
        </p>
        <h4 class="text-center">Tutorials:</h4>
        <div class="info-tutorials">
            <h5><a href="http://www.symtoys.com/ideas_bondkar1.html" target="_blank">Rope harness tutorial</a></h5>
            <h5><a href="https://www.likera.com/sb/tech/hogtie1.php" target="_blank">Hogtie tutorial</a></h5>
            <h5><a href="https://www.likera.com/sb/tech/hogtie2.php" target="_blank">Advanced hogtie tutorial</a></h5>
            <h5><a href="img/frogtie1.jpg">Alternative hogtie</a><a href="img/frogtie2.jpg" target="_blank"> Result</a></h5>
            <h5><a href="https://www.likera.com/blog/wp/archives/13432" target="_blank">Mummification tutorial</a></h5>
            <h5><a href="https://www.google.com/search?tbm=isch&amp;q=chinch+noose" target="_blank">Cinch noose</a></h5>
            <h5>Simple "bitchsuit"</h5>
            <p class="text text-left">
                - Tie each one of your legs (ankle to hip). You can use either a rope or a belt. Then tie/cuff you each one
                of your wrists with a rope/chain in between them and pull the it behind your neck. See image below to get an
                idea.
                <br>
                <a href="img/bitchsuit.jpg">
                    <img src="img/bitchsuit.jpg" alt="bitchsuit" class="img-fluid" style="max-height: 300px">
                </a>
            </p>
        </div>
    </div>
    <hr>
    <h3 class="bg-dark text-white" data-toggle="collapse" href="#info-files" role="button" aria-expanded="true" aria-controls="info-files">Audio and video files</h3>
    <div id="info-files" class="collapse show">
        <h5>Hypnosis</h5>
        <h6>Some recommended audio tracks and videos. Feel free to use your own. Also check: <a href="https://8ch.net/hypno/catalog.html" target="_blank">8chan - hypno board</a><br>
        </h6>
        <p class="text-left">
            Hypno Audio - Bambi Bimbodoll Conditioning (Entry Level)
            <a href="https://bambisleep.blogspot.com/2017/02/bambi-bimbodoll-conditioning.html" target="_blank">INFO</a>
            <a href="https://drive.google.com/file/d/0B8vLYK1NM6HbWGVaOVZLQTEtVE0/edit" target="_blank">DOWNLOAD</a>
            <br>
            Hypno Audio - Bambi Training Loops (Upper Entry Level)
            <a href="https://bambisleep.blogspot.com/2017/05/bambi-training-loops.html" target="_blank">INFO</a>
            <a href="https://drive.google.com/file/d/0B8vLYK1NM6HbUmstZXZFZC05cGM/edit" target="_blank">DOWNLAOD</a>
            <br>
            Hypno Audio - Bambi Fuckdoll Brainwash (Advanced)
            <a href="https://bambisleep.blogspot.com/2017/06/bambi-fuckdoll-brainwash.html" target="_blank">INFO </a>
            <a href="https://drive.google.com/file/d/0B8vLYK1NM6HbUnMzWFVwMzVvMDQ/edit" target="_blank">DOWNLAOD</a>
            <br>
            Hypno Audio - Mistress Catgirl files
            <a href="https://hypno-fetish.com/music/2311/mistress-catgirl/popout/1" target="_blank">LINK</a>
            <br>
            Hypno Audio/Video -
            <a href="https://youtu.be/ZrcxbJaXCCs" target="_blank">Cat Girl Hypnosis</a>
            <br>
            Hypno Audio/Video -
            <a href="https://www.youtube.com/watch?v=ArIf5pklBYY" target="_blank">Dog Hypnosis</a>
            <br>
            Hypno Video -
            <a href="https://www.pornhub.com/view_video.php?viewkey=ph56258bf3be096" target="_blank">Training &amp; Feminization 1</a>
            <br>
            Hypno Video -
            <a href="https://www.pornhub.com/view_video.php?viewkey=ph579080b599f23" target="_blank">Ultimate Feminizer</a>
            <br>
            Hypno Video -
            <a href="https://www.pornhub.com/view_video.php?viewkey=ph59ea059b3e2d4" target="_blank">Sissified Masturbation</a>
            <br>
        </p>
        <h5>Instructions/Motivation</h5>
        <p class="text-left">
            none
        </p>
        <h5>Sex Noise </h5>
        <h6>(for sensory deprivation tasks and audio club)</h6>
        <p class="text-left">
        - 15 minute mix - <a href="https://drive.google.com/open?id=1P8yTSAEMDEDfLjZYJvm25UDdQl_o5LXw" target="_blank">Google Drive Link</a>
        </p>
    </div>
    <h3 class="bg-dark text-white">Compact course list (outdated)</h3>
    <div id="info-files" class="collapse show">
        <object data="img/course_list.svg" type="image/svg+xml" class="img-fluid"></object>
    </div>
</div>